.wrapper {
  min-width: 120px;
  min-height: 550px;
  margin-top: 25px;
  margin-right: 15px;
  padding-left: 10px;
  transition: ease-in-out 0.4s;
  margin-bottom: 10%;
}

.slide {
  margin-left: -240px;
  visibility: hidden;
  margin-right: 95px;
}

.clear_btn {
  cursor: pointer;
  text-align: center;
  /* position: absolute; */
  width: 85px;
  margin: 0 0 25px 0px;
  background-color: #7ddbc7;
  padding: 3px 0px;
  border-radius: 6px;
  transition: ease-in-out 0.3s;
  font-family: 'Edu SA Beginner', cursive;
  font-weight: 500;
}

.clear_btn:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.slider_wrapper {
  width: 130px;
  margin-top: 35px;
}

.slider_name {
  text-align: center;
}