.empty__container {
  margin-top: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.empty__container p {
  font-size: 18px;
  opacity: .7;
  margin-bottom: 40px;
}
.empty__container a {
  width: 100%;
  display: flex;
  justify-content: center;
}
.empty__container button {
  position: relative;
  width: 65%;
  height: 55px;
  background: #7ddbc7;
  border-radius: 18px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 600;
  transition: 0.2s ease;
  cursor: pointer;
  transition: 0.2s ease;

}
.empty__container button:hover {
  background: rgb(36, 36, 36);
}
.return__arrow {
  transition:  0.2s ease-in-out;
  position: absolute;
  left: 25px;
  top: 20px;
}

.empty__container button:hover .return__arrow {
  transform: translateX(-12px);
}